---
layout: page
# The Category layout
---

{% assign platforms = page.posts | group_by: "platform" | sort: "name" %}

<div id="page-category">
  <h1 class="pl-lg-2">
    <i class="far fa-folder-open fa-fw text-muted"></i>
    {{ page.title }}
    <span class="lead text-muted pl-2">{{ page.posts | size }}</span>
  </h1>

  {% for platform in platforms %}
  {% assign postsByPlatform = platform.items | sort: "number" %}
  <ul class="post-content pl-0">
    <h3>{% if platform.name != "" %}{{platform.name}}{% else %}General{% endif %}</h3>
    {% for post in postsByPlatform %}
    <li class="d-flex justify-content-between pl-md-3 pr-md-3">
      {% if post.difficulty %}
      {% if post.difficulty == 'medium' %}
      {% assign dif="post-difficulty difficulty-medium"%}
      {% elsif post.difficulty == 'hard' %}
      {% assign dif="post-difficulty difficulty-hard"%}
      {% else %}
      {% assign dif="post-difficulty difficulty-easy"%}
      {% endif %}
      <div style="margin-right: 10px; width: 25px;">
        <div class="{{dif}}">
          {{post.difficulty | slice: 0}}
        </div>
      </div>
      {% endif %}
      <a href="{{ post.url | relative_url }}">{% if post.number %} #{{post.number}}{% endif %}{% if
        post.number or post.platform %}: {% endif %}{{ post.title }}</a>
      <span class="dash flex-grow-1"></span>
      {% include datetime.html date=post.date wrap='span' class='text-muted small' %}
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>